[submodule "modules/module_API-IMDB"]
	path = modules/module_API-IMDB
	url = git@github.com:StanislawPluszkiewicz/Microservices-IMDB-m-API-IMDB.git
[submodule "modules/module_Authorization"]
	path = modules/module_Authorization
	url = git@github.com:StanislawPluszkiewicz/Microservices-IMDB-m-Authorization.git
[submodule "modules/module_Authentication"]
	path = modules/module_Authentication
	url = git@github.com:StanislawPluszkiewicz/Microservices-IMDB-m-Authentication.git
[submodule "modules/module_Comment"]
	path = modules/module_Comment
	url = git@github.com:StanislawPluszkiewicz/Microservices-IMDB-m-Comment.git
[submodule "modules/module_Front"]
	path = modules/module_Front
	url = git@github.com:StanislawPluszkiewicz/Microservices-IMDB-m-Front.git
